.nav-menu-visible {
    position: absolute;
    right: 10em;
    top: 60px;
	display: flex; 
	flex-direction: column;
	align-items: center;
	height: 150px;
	width: 150px;
	list-style-type: none;
	background-color: blue;
	
	text-align: center;
}
.nav-menu-unvisible {
    position: absolute;
    right: 400px;
    top: 0;
	display: none; 
	flex-direction: column;
	align-items: center;
	height: 150px;
	width: 150px;
	list-style-type: none;
	background-color: blue;
	
	text-align: center;
}
.nav-menu-visible>p {
	text-align: center;
	font-size: 1.1rem;
	padding: 10px;
}


