div .frackowiak-container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin: 90px;
	align-content: flex-start;
}

.frackowiak1,
.frackowiak2,
.frackowiak3,
.frackowiak4,
.frackowiak5 {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	height: fit-content;
}
