div .frackowiak-container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin: 90px;
	align-content: flex-start;
}

.frackowiak1 {
	display: flex;
	height: fit-content;
	width: 900px;
	justify-content: center;
}

.frackowiak2 {
	display: flex;
	height: fit-content;
}
.frackowiak3 {
	display: flex;
	/* height: 110px; */
}
.frackowiak4 {
	display: flex;
}
.frackowiak5 {
	display: flex;
	/* height: 110px; */
	justify-content: flex-end;
	/* width: 600px; */
}

