div .hermann-container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin: 90px;
	align-content: flex-start;
}

.hermann1 {
	display: flex;
	height: fit-content;
	/* width: 500px; */
	justify-content: center;
}

.hermann2 {
	display: flex;
	height: fit-content;
}
.hermann3 {
	display: flex;
	/* height: 110px; */
	justify-content: center;
}
.hermann4 {
	display: flex;
	justify-content: center;
}
.hermann5 {
	display: flex;
	/* height: 110px; */
	justify-content: flex-end;
	/* width: 600px; */
}

