div .kocur-container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin: 90px;
	align-content: flex-start;
}

.kocur1 {
	display: flex;
	height: fit-content;
	/* width: 500px; */
	justify-content: center;
}

.kocur2 {
	display: flex;
	height: fit-content;
}
.kocur3 {
	display: flex;
	/* height: 110px; */
}
.kocur4 {
	display: flex;
}
.kocur5 {
	display: flex;
	/* height: 110px; */
	justify-content: flex-end;
	width: 600px;
}

