div .kocur-container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin: 90px;
	align-content: flex-start;
}

.kocur1,
.kocur2,
.kocur3,
.kocur4,
.kocur5 {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	height: fit-content;
}
