
div .kunicki-container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin: 90px;
	align-content: flex-start;
}
	
.kunicki-generation1-items {
	display: flex;
	height: 110px;
	width: 500px;
	justify-content: center;
}
.kunicki-generation2-items {
	display: flex;
	height: 110px;
}
.kunicki-generation3-items {
	display: flex;
	height: 110px;
}
.kunicki-generation4-items {
	display: flex;
	height: 110px;
}
.kunicki-generation5-items {
	display: flex;
	height: 110px;
	justify-content: flex-end;
	width: 640px;
}
.generation {
	height: 150px;
}
