/* div .kunicki-container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin: 90px;
	align-content: flex-start;
} */

.kunicki1,
.kunicki2,
.kunicki3,
.kunicki4,
.kunicki5 {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	height: fit-content;
}
