/* ul {
    list-style-type: none;
    text-align: left;
    font-size: 20px;
} */
 div.nav-menu {
	display: flex;
	flex-wrap: wrap;
	justify-content:flex-end;
	align-items: center;
	height: 40px;
	/* line-height: 15px; */

	padding: 13px;
} 
.active {
	color: red;
}
a:hover {
	color: red;
}
