div .malik-container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin: 90px;
	align-content: flex-start;
}

.malik1 {
	display: flex;
	height: fit-content;
	/* width: 500px; */
	justify-content: center;
}

.malik2 {
	display: flex;
	height: fit-content;
}
.malik3 {
	display: flex;
	/* height: 110px; */
	justify-content: center;
}
.malik4 {
	display: flex;
	justify-content: center;
}
.malik5 {
	display: flex;
	/* height: 110px; */
	justify-content: flex-end;
	width: 600px;
}

