div .malik-container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin: 90px;
	align-content: flex-start;
}

.malik1,
.malik2,
.malik3,
.malik4,
.malik5 {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	height: fit-content;
}
