div.person-item-wraper {
	display: flex;
	flex-direction: column;
	margin: 5px;
	border: 1px solid lightblue;
	border-radius: 20px;
}

p {
	margin: 10px;
	width: 190px;
	font-size: 11px;
	line-height: 1px;
}
p > a > img {
	height: 50px;
	width: 50px;
	border-radius: 50%;
}
p.name {
	text-transform: uppercase;
	font-weight: 600;
}
div.michał-kunicki-right,
div.jerzy-kunicki-right {
	width: 50px;
}
div.renata-kunicka-left {
	width: 40px;
}
div.witold-kunicki-left {
	width: 270px;
}
div.władysław-kunicki-left{
	width: 50px;
}
div.martyn-frąckowiak-left {
	width:900px;
}
div.filip-felicki-right {
	width: 50px;
}
div.janina-felicka-left {
	width: 100px;
}
div.franciszek-felicki-left {
	width: 200px;
}

