div .spaloniak-container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin: 90px;
	align-content: flex-start;
}
.spaloniak0,
.spaloniak1,
.spaloniak2,
.spaloniak3,
.spaloniak4,
.spaloniak5 {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	height: fit-content;
}
