div .stroka-container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin: 90px;
	align-content: flex-start;
}

.stroka1 {
	display: flex;
	height: fit-content;
	/* width: 500px; */
	justify-content: center;
}

.stroka2 {
	display: flex;
	height: fit-content;
}
.stroka3 {
	display: flex;
	/* height: 110px; */
	justify-content: center;
}
.stroka4 {
	display: flex;
	justify-content: center;
}
.stroka5 {
	display: flex;
	/* height: 110px; */
	justify-content: flex-end;
	width: 600px;
}

