div .stroka-container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin: 90px;
	align-content: flex-start;
}

.stroka1,
.stroka2,
.stroka3,
.stroka4,
.stroka5 {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	height: fit-content;
}
