#root {
	margin: 0;
	padding: 0;
	max-width: 1280px;
	text-align: center;
}
body {
	justify-content: flex-start;
	margin: 0;
	padding: 0;
}
.container {
	display: flex;
	/* align-items: center; */

	width: 100vw;
}
.container > div {
	display: flex;
	width: 100%;
	/* justify-content: center; */
	/* text-align: center; */
	line-height: 75px;
	font-size: 30px;
	/* height: 100%; */
}
div.nav {
	display: flex;
	flex-direction: column;
	/* align-items: flex-start; */
	flex-basis: 10%;
}
div.content {
	display: flex;
	align-content: center;
	flex-basis: 90%;
	margin: 0;
}
