#root {
	margin: 0;
	padding: 0;
	max-width: 1280px;
}
body {
	justify-content: flex-start;
	margin: 0;
	padding: 0;
	text-align: center;
}
.container {
	display: flex;
	justify-items: center;
	height: 100%;

	width: 100vw;
}

div.nav {
	text-justify: left;
	width: 11%;
	min-width: 220px;
	margin-right: 1px solid black;
	background-color: yellow;
	border: 1px solid black;
}
div.content {
	display: flex;
	justify-content: center;
	background-color: lightgrey;
	width: 89%;
}

